[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
grpcio = "*"
grpcio-tools = "*"
kafka-python = "*"
six = "*"
dotenv = "*"
fake-useragent = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.11"
